:root {
    --display-main-size: 75vw;
    --body-main-color: #181C2F;
    
    --aureon-logo-color: #C9CDF7;

    --home-bnts-main-color-1: #515F80;
    --home-bnts-main-color-2: #6F6782;
    --home-bnts-border-gradient: linear-gradient(to right, var(--home-bnts-main-color-1), var(--home-bnts-main-color-2));
}

/* Texto neon so pra ajudar */
.text-neon {
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de;
}

.card-style-aureon {
    border: 4px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px var(--home-bnts-main-color-1);

    background:
        linear-gradient(var(--body-main-color), var(--body-main-color)) padding-box,
        var(--home-bnts-border-gradient) border-box;
}

/* #region Adicionando a fonte da nossa logo */
@font-face {
  font-family: 'Dream Avenue';
  src: 
    url('../../assets/fonts/DreamAvenue.woff2') format('woff2'),
    url('../../assets/fonts/DreamAvenue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.text-font-aureon-logo {
    font-family: 'Dream Avenue', Arial, sans-serif;
    color: var(--aureon-logo-color);
}

.text-logo-aureon {
    font-size: 1.7rem;
}
/* #endregion */

/* #region Pilar do body do css que fiz */
html, body {
    max-width: 100%;
    color: var(--bs-white);

    background: 
        var(--body-main-color) url('../../assets/images/background.jpeg')
        center no-repeat
        ;

    background-size: cover;
    background-position-y: top 100%;
    color: var(--main-text-color);
}

footer {
    width: var(--display-main-size);
    margin: 0 auto;
}
main {
    width: var(--display-main-size);
    margin: 0 auto;    
    min-height: 100vh;
    padding-top: 20px;
}

/* #endregion */

#bnt-login {
    --bs-btn-color: var(--bs-white);
    --bs-btn-border-color: transparent;

    --bs-btn-hover-bg: transparent;
}

#bnt-register {
    --bs-btn-color: var(--bs-white);
}

#welcome-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    p {font-size: 5rem;}
}

#home-btns button {
    width: 200px;
    height: 150px;

    /* Definindo a borda por cor, grossura e suavidade da borda */


    /* Fundo da cor do fundo do body e tambem a borda tendo degrade com borda */


    p {
        padding: 0;
        width: 50%;
        margin: 0 auto;
        
    }

    .home-bnt-icons {
        background: var(--home-bnts-border-gradient) text;
        color: transparent;
        /* margin-bottom: 500px; */
        text-shadow: 
            0 0 10px var(--home-bnts-main-color-1), 
            0 0 20px var(--home-bnts-main-color-1), 
            0 0 30px var(--home-bnts-main-color-2);
    }
}

/* O card de destaque do home do site */
#featured-cards {

    #featured-cards-header {
        .btn-featured-cards {
            --bs-btn-color: var(--bs-white);
            --bs-btn-hover-color: var(--home-bnts-main-color-1);
            --bs-btn-active-color: var(--home-bnts-main-color-2);
            border: none;
        }

        #featured-cards-header-buttons {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    #featured-cards-body {
        .bnt-featured-card {
            width: 12rem; 
            height: 12rem;
        }

        .bnt-featured-card-thumb {
            width: 95%;
            height: 50%;
            margin: 0 auto;
            object-fit: cover; 
        }


        .bnt-featured-card-info {
            font-size: .7rem;
            .featured-card-prof-icon {
                width: 1rem;
                height: 1rem;
                object-fit: cover;
            }
        }

        /* Fonte quebra quando passa de dois paragrafos */
        .line-clamp-card{
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            word-break: break-all; 
        }
    }
}